<script lang="ts">
import Vue from 'vue';
import Accordion from '../solutions/accordion.vue';

export default Vue.extend({
  name: 'TeamOpsFeaturesAccordion',
  components: { Accordion },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      isOpenIndex: 0 as any,
    };
  },
  methods: {
    toggleController(index: number) {
      if (this.isOpenIndex === index) {
        this.isOpenIndex = null;
        return;
      }
      this.isOpenIndex = index;
    },
  },
});
</script>
<template>
  <div
    :data-aos="data.right_block_animation"
    :data-aos-duration="data.right_block_duration"
  >
    <div
      v-if="data.is_accordion"
      class="team-ops-features-accordion__items-wrapper"
    >
      <Accordion
        v-for="(item, index) in data.items"
        :key="item.header"
        :data="item"
        :is-open="isOpenIndex == index"
        @toggleController="toggleController(index)"
      />
    </div>
    <div v-else class="team-ops-features-accordion__items-wrapper">
      <div
        v-for="(item, index) in data.items"
        :key="item.header"
        class="slp-pb-16 slp-mb-32"
        :class="{
          'team-ops-features-accordion__items-w-border':
            index !== data.items.length - 1,
        }"
      >
        <div class="team-ops-features-accordion__header">
          <SlpIcon
            v-if="item.icon"
            class="team-ops-features-accordion__icon"
            :name="item.icon.name"
            :alt="item.icon.alt"
            :variant="item.icon.variant"
            size="md"
          />
          <SlpTypography tag="h3" variant="heading5-bold" class="">
            {{ item.header }}
          </SlpTypography>
        </div>

        <SlpTypography variant="body2" tag="p">
          {{ item.text }}
        </SlpTypography>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.team-ops-features-accordion {
  &__icon {
    margin-right: $spacing-default;
  }

  &__header {
    display: flex;
    padding-bottom: $spacing-16;
    margin-bottom: $spacing-4;
  }

  &__items-w-border {
    border-bottom: 1px solid $color-surface-200;
  }
}
</style>
