<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'CollapsibleFeatureList',

  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      groups: [],
      currentGroupIndex: 0,
    };
  },
  mounted() {
    this.groups = this.data.groups.map((group: Object) => ({
      ...group,
      expanded: false,
    }));
  },
  methods: {
    toggleGroup(groupIndex: number): void {
      if (this.currentGroupIndex === groupIndex) {
        (this as any).groups[this.currentGroupIndex].expanded = !(this as any)
          .groups[this.currentGroupIndex].expanded;

        this.currentGroupIndex = 0;
      } else {
        (this as any).groups[this.currentGroupIndex].expanded = false;
        (this as any).groups[groupIndex].expanded = !(this as any).groups[
          groupIndex
        ].expanded;
        this.currentGroupIndex = groupIndex;
      }
    },
  },
});
</script>
<template>
  <SlpContainer>
    <SlpTypography class="title" variant="heading2-bold" tag="h2">
      {{ data.title }}
    </SlpTypography>
    <SlpRow class="container">
      <div
        v-for="(group, groupIndex) in groups"
        :key="groupIndex"
        class="container_content"
      >
        <div class="horizontal-rule"></div>
        <img :src="group.logo" :alt="group.alt" />
        <div class="container_content-list-container">
          <div class="container_content-list">
            <div
              v-for="(item, itemIndex) in group.items"
              :key="itemIndex"
              class="container_content-unexpanded-list"
            >
              <ul v-if="itemIndex <= 4">
                <li>{{ item.title }}</li>
              </ul>
            </div>
            <div
              v-for="(item, itemIndex) in group.items"
              v-show="group.expanded"
              :key="itemIndex + item.title"
              class="container_content-expanded-list"
            >
              <ul v-if="itemIndex > 4">
                <li>{{ item.title }}</li>
              </ul>
            </div>
            <div
              class="container_content-buttons"
              :aria-expanded="`${group.expanded}`"
              @click="toggleGroup(groupIndex)"
            >
              <SlpTypography
                class="view-buttons slp-flex slp-justify-content-center slp-color-primary-200"
                tag="span"
                variant="body2-bold"
                >{{ group.expanded ? 'View Less' : 'View More' }}
                <SlpIcon
                  class="view-more-icon"
                  :name="group.expanded ? 'chevron-lg-up' : 'chevron-lg-down'"
                  variant="product"
                  slp-color="primary-200"
                  alt="Chevron Icon"
                />
              </SlpTypography>
            </div>
          </div>
        </div>
      </div>
    </SlpRow>
  </SlpContainer>
</template>
<style lang="scss" scoped>
.horizontal-rule {
  border-top: 1px solid $color-surface-300;
  width: 100%;
}
.title {
  line-height: 66px;
  margin-top: 120px;
  margin-bottom: 40px;
  @media screen and (max-width: $breakpoint-sm) {
    line-height: 56px;
    font-size: 40px !important;
  }
}
.container {
  display: flex;
  flex-direction: column;

  img {
    margin: 30px 0px 42px 0px;
  }

  &_content-list-container {
    padding-left: 48px;
    line-height: 24px;
    @media (max-width: $breakpoint-md) {
      padding-left: 0px;
    }
  }
  ul {
    list-style-type: disc;
  }
  li {
    display: list-item;
    margin-bottom: 15px;
  }
  &_content-buttons {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 100%;
  }
  .view-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 56px;
    margin-top: 25px;
  }
  .view-more-icon {
    margin-left: $spacing-8;
  }
  @media (max-width: $breakpoint-md) {
    flex-direction: row;
    justify-content: center;
    &_content {
      padding: 0px;
      &-list {
        padding: 0px 16px;
      }
    }
  }
}
</style>
