<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
    selectedTab: {
      type: Number,
      required: true,
      default: 0,
    },
  },
});
</script>

<template>
  <div class="tabs">
    <div
      v-for="(tab, tabIndex) in data.tabs"
      :key="tab.header.text"
      class="tab"
      :class="{ selected: selectedTab === tabIndex }"
      @click="$emit('tab-change', tabIndex)"
    >
      <SlpIcon
        class="icon"
        :name="tab.header.icon"
        variant="marketing"
        size="md"
      />
      <SlpTypography variant="body2-bold">{{ tab.header.text }}</SlpTypography>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media (max-width: $breakpoint-md) {
    display: none;
  }
  .tab {
    position: relative;
    bottom: -2px;
    min-width: 100px;
    padding: 16px;
    padding-bottom: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .icon {
      margin-bottom: 16px;
    }
    cursor: pointer;
    &.selected {
      background-color: white;
      box-shadow: 0px -20px 50px -16px #d1d0d3;
      border-top: 2px solid $color-accent-500;
      padding-top: 14px;
    }
  }
}
</style>
