<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'CarouselWrap',
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      itemIndexes: [...this.items.map((_, index) => index)],
      innerStyles: {},
      transitioning: false,
    };
  },
  computed: {
    step() {
      const innerWidth = this.$refs.content.scrollWidth;
      const totalItems = this.itemIndexes.length;
      return `${innerWidth / totalItems}px`;
    },
  },
  mounted() {
    this.resetTranslate();
  },
  methods: {
    next() {
      if (this.transitioning) return;

      this.transitioning = true;
      this.moveLeft();
      this.afterTransition(() => {
        const itemNumber = this.itemIndexes.shift();
        this.itemIndexes.push(itemNumber);
        this.resetTranslate();
        this.transitioning = false;
      });
    },
    prev() {
      if (this.transitioning) return;

      this.transitioning = true;
      this.moveRight();

      this.afterTransition(() => {
        const itemNumber = this.itemIndexes.pop();
        this.itemIndexes.unshift(itemNumber);
        this.resetTranslate();
        this.transitioning = false;
      });
    },
    moveLeft() {
      this.innerStyles = {
        transform: `translateX(-${this.step})`,
      };
    },
    moveRight() {
      this.innerStyles = {
        transform: `translateX(${this.step})`,
      };
    },
    afterTransition(callback) {
      const listener = () => {
        callback();

        this.$refs.content.removeEventListener('transitionend', listener);
      };
      this.$refs.content.addEventListener('transitionend', listener);
    },
    resetTranslate() {
      this.innerStyles = {
        transform: 'translateX(0)',
        transition: 'none',
      };
    },
  },
});
</script>

<template>
  <div class="carousel">
    <slot name="floating" />
    <!-- Space that should be used when absolute content is needed-->

    <div ref="content" class="carousel__wrapper">
      <div class="carousel__content" :style="innerStyles">
        <slot name="content" />
      </div>
    </div>

    <slot name="footer"></slot>
  </div>
</template>

<style scoped lang="scss">
.carousel {
  width: 100%;

  &__wrapper {
    width: 100%;
    height: 100%;
    padding: $spacing-48 0;
    overflow: hidden;
    position: relative;
  }

  &__content {
    display: flex;
    transition: transform 0.35s cubic-bezier(0.94, 0.7, 0.46, 0.92);
  }
}
</style>
